<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AcklenAvenue.Queueing.Amazon.Sqs.IntegrationSpecs\packages.config" />
  <repository path="..\src\AcklenAvenue.Queueing.Amazon.Sqs\packages.config" />
  <repository path="..\src\AcklenAvenue.Queueing.LocalFile\packages.config" />
</repositories>